:root {
    --color-white: white;
    --color-black: black;
    --color-grey: #C4C4C4;
    --color-orange: #FFA800;
}

.passengers-info-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid var(--color-grey);
    background-color: var(--color-white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.info-block__control {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #F9F9F9;
}

.info-block__control-btn + label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 20px 0 20px 20px;
    font-size: 30px;
    cursor: pointer;
}

.info-block__container {
    padding: 40px 0 0 0;
    background-color: var(--color-white);
    border-top: 1px dashed var(--color-grey);
}

.info-block__select {
    position: relative;
    max-width: 280px;
    width: 100%;
    padding: 0 30px 0 35px;
}

.info-block__select-btn {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    background-color: transparent;
    color: var(--color-black);
    font-size: 24px;
    text-align: start;
    text-transform: capitalize;
    background-image: url("./icons/select-arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 95% 60%;
}

.info-block__select-options {
    position: absolute;
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    color: var(--color-black);
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #F4F3F6;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-50px);
}

.info-block__select-options-visible {
    visibility: visible;
}

.info-block__select-option {
    width: 100%;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
    transition: color, background-color 0.3s ease-in-out;
}

.info-block__select-option:hover,
.info-block__select-option:focus,
.info-block__select-option:focus-visible {
    color: var(--color-white);
    background-color: var(--color-orange);
}

.info-block__select-option:first-child:hover,
.info-block__select-option:first-child:focus,
.info-block__select-option:first-child:focus-visible {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.info-block__select-option:last-child:hover,
.info-block__select-option:last-child:focus,
.info-block__select-option:last-child:focus-visible {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.info-block__personal-container {
    margin-top: 40px;
    padding: 0 30px 0 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-block__personal-info label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-grey);
}

.info-block__personal-info input {
    max-width: 280px;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    background-color: transparent;
    color: var(--color-black);
    font-size: 24px;
    text-align: start;
    text-transform: capitalize;
    cursor: text;
}

.personal-gender {
    max-width: 200px;
    width: 100%;
}

.personal-gender__legend {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--color-grey);
}

.personal-gender__radio-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.personal-gender__radio-label {
    flex-basis: 50%;
    display: block;
    height: 50px;
    cursor: pointer;
}

.personal-gender__radio-input {
    position: absolute;
    width: 0;
}

.personal-gender__radio-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid var(--color-grey);
    color: var(--color-black);
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
}

.personal-gender__radio-input:checked + .personal-gender__radio-text {
    background: var(--color-orange);
}

.personal-gender__radio-label:first-child .personal-gender__radio-text {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
}

.personal-gender__radio-label:last-child .personal-gender__radio-text {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.personal-birth {
    width: 100%;
    margin-right: auto;
    margin-left: 35px;
}

.personal-birth__label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--color-grey);
}

.personal-birth__input {
    position: relative;
    display: block;
    max-width: 240px;
    width: 100%;
    height: 50px;
    padding-inline: 20px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    font-size: 18px;
    color: var(--color-black);
    text-transform: uppercase;
    background: transparent;
    cursor: default;
}

.personal-birth__input::-webkit-datetime-edit {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
}

.personal-birth__input::-webkit-calendar-picker-indicator {
    width: 22px;
    height: 22px;
    background-image: url("./icons/calendar-datepicker.svg");
}

.info-block__delete-btn {
    width: fit-content;
    margin: 20px 40px 20px auto;
    width: 20px;
    height: 20px;
    background-image: url("./icons/delete-cross.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.info-block__delete-btn:hover {
    background-image: url("./icons/error.svg");
}

.info-block__next-section {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 0;
    border-top: 1px dashed var(--color-grey);
}

.info-block__next-btn {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: 30px;
    padding: 10px 25px;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-black);
    background-color: transparent;
    text-transform: none;
    transition: color, border-color, background-color 0.5s ease-in-out;
}

.info-block__next-btn:hover {
    color: var(--color-orange);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.info-block__next-btn:active {
    color: var(--color-black);
    border-color: var(--color-orange);
    background-color: var(--color-orange);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
