* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: white;
  background-color: #3E3C41;
}

.order-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.filter__date,
.filter__switch,
.filter__price,
.filter__period {
  width: 100%;
  padding: 30px;
  background-color: inherit;
}

.filter__switch > *,
.filter__price > *,
.filter__period > * {
  width: 100%;
}

.filter__date {
  padding: 45px 30px 30px;
}

.filter__switch {
  padding: 25px 35px 25px 65px;
}

.switch__component {
  display: flex;
  align-items: center;
  gap: 35px;
}

.switch__image {
  width: 25px;
  height: 25px;
  color: #E5E5E5;
}

.switch__title {
  font-size: 18px;
}

.filter__price {
  padding: 35px 35px 30px 30px;
}

.price__title {
  font-size: 30px;
  margin-bottom: 15px;
}

.price__under-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.filter__period {
  padding: 30px 35px 30px 30px;
}

.filter__period-control {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.filter__period-title {
  font-size: 30px;
  font-weight: bold;
}

.filter__period-btn {
  display: none;
}

.filter__period-btn + label {
  position: relative;
  cursor: pointer;
  transition: all .3s;
}

.filter__period-btn + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("./icons/base.svg");
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
}

.filter__period-btn:checked + label::before {
  background-image: url("./icons/checked.svg");
}

.filter__period-btn + label:hover::before {
  background-image: url("./icons/hover.svg");
}

.filter__period-content {
  margin-top: 20px;
}

.filter__period-subtitle {
  font-size: 24px;
  margin-bottom: 15px;
}

.departure-subtitle-right,
.arrival-subtitle-right {
  margin-top: 45px;
  text-align: right;
}
