.search-widget {
  flex: 1;
  padding: 70px 20px;
  background-color: #292929CC;
}

.form__fieldset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldset-date {
  margin-top: 50px;
  gap: 30px;
}

.fieldset__legend {
  width: 100%;
  padding: 7px;
  font-size: 30px;
  font-weight: 300;
  color: var(--color-white);
}

.fieldset__input-wrapper {
  width: 100%;
}

.fieldset__input {
  position: relative;
  width: 100%;
  border: 2px solid transparent;
  border-radius: 3px;
  padding: 20px 50px 20px 20px;
  background-color: var(--color-white);
  background-size: auto;
  background-position: right 15px center;
  background-repeat: no-repeat;
  cursor: text;
}

.fieldset__input:focus, 
.fieldset__input:focus-visible {
  border-color: var(--color-orange);
}

.fieldset__input-from, 
.fieldset__input-to {
  background-image: url("./icons/icon-input-from-to.svg");
}

.fieldset__input-thither, 
.fieldset__input-back {
  background-image: url("./icons/icon-input-thither-back.svg");
}

.fieldset-direction__btn {
  width: 30px;
  height: 30px;
  background-image: url("./icons/icon-direction-normal.svg");
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.fieldset-direction__btn:hover,
.fieldset-direction__btn:focus-visible {
  background-image: url("./icons/icon-direction-active.svg");
}

.form__btn {
  width: fit-content;
  margin-top: 90px;
  margin-left: auto;
}

.form__btn-send {
  padding: 15px 65px;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-orange);
  text-transform: uppercase;
  transition: color, border-color, background-color 0.5s ease-in-out;
}

.form__btn-send:disabled {
  color: var(--color-white);
  background-color: var(--color-grey);
  cursor: not-allowed;
}

.form__btn-send:hover:not(:disabled),
.form__btn-send:focus,
.form__btn-send:focus-visible {
  background-color: var(--color-yellow);
}

.form__btn-send:active:not(:disabled) {
  border-color: var(--color-orange);
  background-color: var(--color-white);
  color: var(--color-orange);
}

.header-order .search-widget {
  max-width: 1490px;
  width: 100%;
  margin: 110px auto 0;
  padding: 30px 40px 70px;
  background-color: #292929CC;
}

.header-order .search-widget__form {
  display: flex;
  flex-wrap: wrap;
  gap: 45px 35px;
}

.header-order .form__fieldset {
  flex: 1;
  align-items: flex-start;
}

.header-order .fieldset-date {
  margin-top: 0;
}

.header-order .fieldset__btn {
  align-self: center;
}

.header-order .form__btn {
  flex: 100%;
  margin: 0;
}

.header-order .form__btn-send {
  margin-left: auto;
}
