.switch__btn {
  margin-left: auto;
  width: 70px;
  height: 19px;
}

.ant-switch {
  background: var(--color-white);
}

.ant-switch:hover:not(.ant-switch-disabled),
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: var(--color-white);
}

.ant-switch-handle {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.ant-switch-handle::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: #C4C4C4;
  border-radius: 100%;
}

.ant-switch.ant-switch-checked {
  background: var(--color-yellow);
}

.ant-switch.ant-switch-checked .ant-switch-handle {
  left: calc(100% - 28px);
}

.ant-switch.ant-switch-checked .ant-switch-handle::before {
  background-color: var(--color-orange);
}