.payment-info__wrapper {
  width: 100%;
  padding: 30px;
  background-color: white;
  border: 1px solid #C4C4C4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.payment-info__personal-title, .payment-info__pay-title {
  font-size: 28px;
  line-height: 1.2;
  padding: 20px 0 10px 15px;
  background-color: #f9f9f9;
  border-bottom: 1px dashed var(--color-grey);
}

.payment-info__content {
  padding: 20px 20px 40px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 30px;
  row-gap: 20px;
}

.payment-info__content > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment-info__content label {
  font-size: 18px;
  font-weight: bold;
}

.payment-info__content input[type=text], 
.payment-info__content input[type=tel],
.payment-info__content input[type=email] {
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  outline: none;
  transition: all 0.3s linear;
}

.payment-info__content input[type=text]:focus,
.payment-info__content input[type=tel]:focus,
.payment-info__content input[type=email]:focus {
  border-color: var(--color-primary);
}

.payment-info__pay-block {
  margin-top: 30px;
  padding: 20px 20px 40px 20px;
  border-top: 1px dashed var(--color-grey);
}

.payment-info__pay-options {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.payment-info__pay-options ul {
  columns: 3;
  column-gap: 1em;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.payment-info__pay-options li {
  font-size: 18px;
  text-align: left;
}

.payment-info__btn {
  margin-top: 40px;
  padding: 15px 65px;
  border: 2px solid var(--color-orange);
  border-radius: 5px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: var(--color-orange);
  text-transform: uppercase;
  transition: color, border-color, background-color 0.5s ease-in-out;
}

.payment-info__btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.payment-info__btn:hover:not(:disabled),
.payment-info__btn:focus,
.payment-info__btn:focus-visible {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.payment-info__btn:active:not(:disabled) {
  background-color: transparent;
  color: var(--color-orange);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}
