.air-datepicker-nav--action,
[data-action="prev"],
[data-action="next"] {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
}

[data-action="prev"] {
  background-image: url("./icons/prev.svg");
}

[data-action="next"] {
  background-image: url("./icons/next.svg");
}

[data-action]:hover,
[data-action]:active,
[data-action]:focus,
[data-action]:focus-visible {
  background-color: rgba(240, 240, 240, 0.3);
}

.air-datepicker-cell.-selected-,
.air-datepicker-cell.-selected-.-current-,
.air-datepicker-cell.-selected-.-focus-,
.air-datepicker-cell.-month-.-selected-,
.air-datepicker-cell.-year-.-selected- {
  background: none;
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  background-color: #FFE4B0;
  color: var(--color-black);
}

.air-datepicker-cell.-current- {
  color: var(--color-orange);
}

.air-datepicker-body--day-names {
  display: none;
}