.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

.modal-container {
  max-width: 600px;
  width: 100%;
  background: white;
  border: 1px solid #c4c4c4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.modal-header {
  height: 100px;
  background-size: contain;
  background-position: left 40px top 50%;
  background-repeat: no-repeat;
}

.modal-header-error {
  background-image: url("./icons/error.svg");
}

.modal-header-info {
  background-image: url("./icons/info.svg");
}

.modal-content {
  padding: 40px 25px 25px 40px;
  font-size: 18px;
  color: var(--color-black);
  border-bottom: 1px dashed var(--color-grey);
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-footer {
  padding: 30px 0;
}

.modal-btn {
  width: fit-content;
  margin: 0 auto;
  padding: 10px 70px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}