.passengers-add-info__wrapper {
  width: 100%;
  padding: 20px 40px 20px 25px;
  background-color: #f9f9f9;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.passengers-add-info__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  color: var(--color-black);
}

.passengers-add-info__btn {
  width: 20px;
  height: 20px;
  background-image: url('add-passenger-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
